@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-orange: #f2994a;
  --footer-bg: #f2994a;
  --newsletter-bg: #efd1b0;
  --dark-green: #052b17;
  --text-dark: #1f2937;
  --white: #ffffff;
 --input-border: #A8A8A8;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.text-xl-custom {
  font-size: 40px;
}

.text-large {
  font-size: 56px;
}

.text-heading {
  font-size: 24px;
}

.text-medium {
  font-size: 16px;
}

.text-small {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

.w-card {
  width: 604px;
}

.h-card {
  height: 559px;
}

.w-content {
  max-width: 389px;
}

.h-button {
  height: 48px;
}

.text-primary {
  color: #112211;
}

.text-primary-light {
  color: rgba(17, 34, 17, 0.75);
}

.text-primary-fade {
  color: rgba(17, 34, 17, 0.5);
}

.bg-primary-orange {
  background-color: #F59842;
}

.border-primary-orange {
  border-color: #F59842;
}

.rounded-custom {
  border-radius: 20px;
}
scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.text-primary-orange {
  color: #F59842;
}
