@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
/* Text Classes */
.text-xl-custom {
  font-size: 40px;
}

.text-medium {
  font-size: 16px;
}

.text-small {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

/* Width & Height Classes */
.w-card {
  width: 604px;
}

.h-card {
  height: 559px;
}

.w-content {
  max-width: 389px;
}

/* Button Height */
.h-button {
  height: 48px;
}

/* Colors */
.text-primary {
  color: #112211;
}

.text-primary-light {
  color: rgba(17, 34, 17, 0.75);
}

.text-primary-fade {
  color: rgba(17, 34, 17, 0.50);
}

.bg-primary-orange {
  background-color: #F59842;
}

.border-primary-orange {
  border-color: #F59842;
}
